/* Firefox */
@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #72716d #1e1e1e;
    }
}

/* WebKit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: #72716d;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c9c7b3;
}
