:root {
    --background: #fefeff;
    --background-secondary: #f7f7f8;
    --foreground: #313131;
    --foreground-secondary: #494949;
    --highlight: #474dd6;
    --highlight-secondary: #6a6fe0;
}

.paper-mode {
    --background: #f1e7d0;
    --background-secondary: #f5ede0;
    --foreground: #433422;
    --foreground-secondary: #5a4836;
    --highlight: #8d7d69;
    --highlight-secondary: #a49584;
}

.dark-mode {
    --background: #1e1e1e;
    --background-secondary: #2a2a2a;
    --foreground: #c9c7b3;
    --foreground-secondary: #d4d2c2;
    --highlight: #72716d;
    --highlight-secondary: #898883;
}

.desert-mode {
    --background: #332a2c;
    --background-secondary: #403437;
    --foreground: #cfa476;
    --foreground-secondary: #d8b491;
    --highlight: #89602f;
    --foreground-secondary: #a07546;
}

.ocean-mode {
    --background: #06273a;
    --background-secondary: #0d3449;
    --foreground: #128898;
    --foreground-secondary: #1a9fb0;
    --highlight: #0a4858;
    --highlight-secondary: #125b6e;
}

.forest-mode {
    --background: #052529;
    --background-secondary: #0c3236;
    --foreground: #129878;
    --foreground-secondary: #1aab89;
    --highlight: #0b5e50;
    --highlight-secondary: #127162;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s, color 0.3s;
}

.bg-foreground {
    background-color: var(--foreground);
}

.bg-foreground-secondary {
    background-color: var(--foreground-secondary);
}

.bg-background {
    background-color: var(--background);
}

.bg-background-secondary {
    background-color: var(--background-secondary);
}

.bg-highlight {
    background-color: var(--highlight);
}

.bg-background-secondary {
    background-color: var(--background-secondary);
}

.border-foreground {
    border-color: var(--foreground);
}

.border-foreground-secondary {
    border-color: var(--foreground-secondary);
}

.border-background {
    border-color: var(--background);
}

.border-background-secondary {
    border-color: var(--background-secondary);
}

.border-highlight {
    border-color: var(--highlight);
}

.border-highlight-secondary {
    border-color: var(--highlight-secondary);
}

.text-foreground {
    color: var(--foreground);
}

.text-foreground-secondary {
    color: var(--foreground-secondary);
}

.text-background {
    color: var(--background);
}

.text-background-secondary {
    color: var(--background-secondary);
}

.text-highlight {
    color: var(--highlight);
}

.text-highlight-secondary {
    color: var(--highlight-secondary);
}
